<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
</head>
<body>

    <div th:replace="fragments/header"></div>


	<div class="parent-container">
	    <form method="post" th:action="@{/login}" class="register-form">
	        <input type="text" name="username" placeholder="Username">
	        <input type="password" name="password" placeholder="Password">
	        <input type="submit" value="Login">
	    </form>
		
	</div>


    <div th:replace="fragments/footer"></div>

</body>
</html>
