<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/productDetail.css}" />
	<script th:src="@{/js/productDetail.js}"></script>
</head>
<body>

    <div th:replace="fragments/header"></div>

<div>
	
	
</div>

    <div class="product-details">
        <h1 th:text="|${product.productName}|"></h1>
        <p th:text="|detail : ${product.detail}|"></p>
        <p th:text="|material : ${product.material}|"></p>
        <p th:text="|Price:  $${product.price}|"></p>
    </div>

    <div class="images">
        <div th:each="i : ${images}">
            <img th:src="@{${i}}" alt="Product Image" />
        </div>
    </div>

    <div class="current-color">
        <p th:text="${color.colorName}"></p>
    </div>

	<div class="color-palettes">
	    <div class="color-palette" th:each="i : ${colors}">
	        <a th:href="@{/showProductDetail/{productId}/{colorId} (productId = ${i.productId}, colorId = ${i.colorId})}">
	            <div class="color" th:style="'background-color: #' + ${i.colorHexaCode}"></div>
	            <p th:text="${i.colorName}"></p>
	        </a>
	    </div>
	</div>




    <form method="post" th:action="@{/addToCart}">
        <input type="hidden" name="productId" th:value="${productId}">
        <input type="hidden" name="colorId" th:value="${colorId}">

        <div class="size-option">
            <label for="sizeSelect">Select size:</label>
            <select name="sizeSelect" id="sizeSelect">
                <option value="" disabled selected>Select size</option>
                <option value=1 th:disabled="${quantityS == 0}">S</option>
                <option value=2 th:disabled="${quantityM == 0}">M</option>
                <option value=3 th:disabled="${quantityL == 0}">L</option>
            </select>
        </div>
		<br>
        <input type="submit" value="Add To Cart">
    </form>

    <div th:replace="fragments/footer"></div>

</body>
</html>
