<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
	<script th:src = "@{/js/register.js}"></script>
	<link rel="stylesheet" type="text/css" th:href = "@{/css/register.css}">

</head>
<body>

	<div th:replace = "fragments/header"></div>
	 	
	<div id = "error"></div>
	 

	<div class="parent-container">
		<form method="post" th:action="@{/register}" name="registerForm" onsubmit="return verify()"   class="register-form">
			
			username : <input type="text" name = "username" id = "username"> <br>
			password : <input type="password" name="password" id="password"> <br>
			verify password : <input type="password" name="verifyPassword" id="verifyPassword"> <br>
			
			<input type="submit" value = "register">
		</form>
		
	</div> 
	

	<div th:replace = "fragments/footer"></div>


</body>
</html>