<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>

	<link rel="stylesheet" type="text/css" th:href="@{/css/viewAll.css}" />

</head>
<body>

	<div th:replace="fragments/header"></div>

	


	<ul class="view">
	    <li class="product-item" th:each="i : ${productData}"   th:if = "${i.categoryName == cat}">
	        <a th:href="@{/showProductDetail/{productId}/{colorId} (productId = ${i.productId}, colorId = ${i.colorId})}">
	            <p class="product-name" th:text="${i.productName}"></p>
	            <p class="product-category" th:text="${i.categoryName}"></p>
	            <img class="product-image" th:src="@{${i.imageUrl}}" alt="Product Image" />
	            <p class="product-price" th:text="${i.price}"></p>
	        </a>
	    </li>
	    <!-- 추가적인 상품 아이템을 위해 위의 <li> 요소 복제 -->
	</ul>

	<div th:replace="fragments/footer"></div>
	

	
</body>
</html>