header {
    background-color: #333;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 200px; /* 원하는 큰 이미지 너비 설정 */
    height: auto;
    margin-right: 20px;
}


header ul {
    list-style: none;
    padding: 0;
    display: flex;
    
}

header ul li {
    margin: 0 10px;
    font-size: 24px; /* 원하는 큰 텍스트 크기 설정 */
    
}


i {
    font-size: 20px;
    color: #fff;
    margin-right: 5px;
}
