/* 레이블 스타일 */

h4 {
    text-align: center;
}

.parent-container {
 	display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    
}

.label-style {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* 입력 필드 스타일 */
.input-style {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* 파일 업로드 필드 스타일 */
.file-input-style {
    margin-bottom: 15px;
}

/* 제출 버튼 스타일 */
.submit-button-style {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.submit-button-style:hover {
    background-color: #0056b3;
}






/* CSS 코드를 orderl.css 또는 연결된 CSS 파일에 추가하세요 */


.form-container {
    max-width: 400px;
    margin: 40px auto; /* 위와 아래 마진을 추가합니다 */
    background-color: DodgerBlue;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.checkout-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: DodgerBlue; /* 배경색을 Dodge Blue로 설정 */
    color: white; /* 글자색을 흰색으로 설정 */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.checkout-form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.checkout-form input[type="text"],
.checkout-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
}

.checkout-form input[required] {
    border-color: red; /* 필수 필드의 테두리 색상을 빨간색으로 설정 */
}

.checkout-form input[type="submit"] {
    background-color: white;
    color: DodgerBlue; /* 버튼 배경색을 흰색으로 설정 */
}

