<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>

	<link rel="stylesheet" type="text/css" th:href = "@{/css/orderDetail.css}">


</head>
<body>

	<div th:replace="fragments/header"></div>




	<div class="parent-container">
		<h4>ordered items</h4>
		<table  class="order-detail-table">
			<tr>
				<th>image</th>
				<th>recipientName </th>
				<th>orderDate</th>
				<th>productName </th>
				<th>color</th>
				<th>size</th>			
				<th>price </th>
				<th>shippingStatus</th>
			</tr>
			<tr th:each = "i : ${orderItems}" th:if = "${i.shippingStatus} == 'ORDERED'">
				<td> <img th:src = "@{${i.imageUrl}}">  </td>
				<td th:text = "${i.recipientName}"></td>
				<td th:text = "${i.orderDate}"></td>
				<td th:text = "${i.productName}"  ></td>
				<td th:text = "${i.colorName}"></td>
				<td th:text = "${i.sizeName}"></td>			
				<td th:text = "${i.price }"></td>
				<td>
					<form method="post" th:action="@{/updateStatus}">
						<input type="hidden" name = "orderItemId" th:value="${i.orderItemId}">
						<select name="newStatus">
							<option th:each = "s : ${statuses}" th:value = "${s}" th:text = "${s}" th:selected = "${s == i.shippingStatus}"></option>
						</select>
						
						<input type="submit" value="update">
					</form>
				</td>
			</tr>		
		</table>
		
		<h4>SHIPPED items</h4>
		<table  class="order-detail-table">
			<tr>
				<th>image</th>
				<th>recipientName </th>
				<th>orderDate</th>
				<th>productName </th>
				<th>color</th>
				<th>size</th>			
				<th>price </th>
				<th>shippingStatus</th>
			</tr>
			<tr th:each = "i : ${orderItems}" th:if = "${i.shippingStatus} == 'SHIPPED'">
				<td> <img th:src = "@{${i.imageUrl}}">  </td>
				<td th:text = "${i.recipientName}"></td>
				<td th:text = "${i.orderDate}"></td>
				<td th:text = "${i.productName}"  ></td>
				<td th:text = "${i.colorName}"></td>
				<td th:text = "${i.sizeName}"></td>			
				<td th:text = "${i.price }"></td>
				<td>
					<form method="post" th:action="@{/updateStatus}">
						<input type="hidden" name = "orderItemId" th:value="${i.orderItemId}">
						<select name="newStatus">
							<option th:each = "s : ${statuses}" th:value = "${s}" th:text = "${s}" th:selected = "${s == i.shippingStatus}"></option>
						</select>
						
						<input type="submit" value="update">
					</form>
				</td>
			</tr>		
		</table>
		
		<h4>DELIVERED items </h4>
		<table  class="order-detail-table">
			<tr>
				<th>image</th>
				<th>recipientName </th>
				<th>orderDate</th>
				<th>productName </th>
				<th>color</th>
				<th>size</th>			
				<th>price </th>
				<th>shippingStatus</th>
			</tr>
			<tr th:each = "i : ${orderItems}" th:if = "${i.shippingStatus} == 'DELIVERED' ">
				<td> <img th:src = "@{${i.imageUrl}}">  </td>
				<td th:text = "${i.recipientName}"></td>
				<td th:text = "${i.orderDate}"></td>
				<td th:text = "${i.productName}"  ></td>
				<td th:text = "${i.colorName}"></td>
				<td th:text = "${i.sizeName}"></td>			
				<td th:text = "${i.price }"></td>
				<td>
					<form method="post" th:action="@{/updateStatus}">
						<input type="hidden" name = "orderItemId" th:value="${i.orderItemId}">
						<select name="newStatus">
							<option th:each = "s : ${statuses}" th:value = "${s}" th:text = "${s}" th:selected = "${s == i.shippingStatus}"></option>
						</select>
						
						<input type="submit" value="update">
					</form>
				</td>
			</tr>		
		</table>
		
		<h4>RETURNING items </h4>
		<table   class="order-detail-table"> 
			<tr>
				<th>image</th>
				<th>recipientName </th>
				<th>orderDate</th>
				<th>productName </th>
				<th>color</th>
				<th>size</th>			
				<th>price </th>
				<th>shippingStatus</th>
			</tr>
			<tr th:each = "i : ${orderItems}" th:if = "${i.shippingStatus} == 'RETURNING' ">
				<td> <img th:src = "@{${i.imageUrl}}">  </td>
				<td th:text = "${i.recipientName}"></td>
				<td th:text = "${i.orderDate}"></td>
				<td th:text = "${i.productName}"  ></td>
				<td th:text = "${i.colorName}"></td>
				<td th:text = "${i.sizeName}"></td>			
				<td th:text = "${i.price }"></td>
				<td>
					<form method="post" th:action="@{/updateStatus}">
						<input type="hidden" name = "orderItemId" th:value="${i.orderItemId}">
						<select name="newStatus">
							<option th:each = "s : ${statuses}" th:value = "${s}" th:text = "${s}" th:selected = "${s == i.shippingStatus}"></option>
						</select>
						
						<input type="submit" value="update">
					</form>
				</td>
			</tr>		
		</table>
		
		<h4>RETURNED items</h4>
		<table   class="order-detail-table">
			<tr>
				<th>image</th>
				<th>recipientName </th>
				<th>orderDate</th>
				<th>productName </th>
				<th>color</th>
				<th>size</th>			
				<th>price </th>
				<th>shippingStatus</th>
			</tr>
			<tr th:each = "i : ${orderItems}" th:if = "${i.shippingStatus} == 'RETURNED' ">
				<td> <img th:src = "@{${i.imageUrl}}">  </td>
				<td th:text = "${i.recipientName}"></td>
				<td th:text = "${i.orderDate}"></td>
				<td th:text = "${i.productName}"  ></td>
				<td th:text = "${i.colorName}"></td>
				<td th:text = "${i.sizeName}"></td>			
				<td th:text = "${i.price }"></td>
				<td>
					<form method="post" th:action="@{/updateStatus}">
						<input type="hidden" name = "orderItemId" th:value="${i.orderItemId}">
						<select name="newStatus">
							<option th:each = "s : ${statuses}" th:value = "${s}" th:text = "${s}" th:selected = "${s == i.shippingStatus}"></option>
						</select>
						
						<input type="submit" value="update">
					</form>
				</td>
			</tr>		
		</table>

		
	</div>

	


	<div th:replace="fragments/footer"></div>

</body>
</html>