<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>

	<link rel="stylesheet" type="text/css" th:href = "@{/css/orderDetail.css}">

</head>
<body>

	<div th:replace = "fragments/header"></div>

	
	<h4>registered items management / add model</h4>
	<div class="parent-container">
		<table  class="order-detail-table">
			<tr>
				<th>product id</th>
				<th>category</th>
				<th>product name</th>
				<th>color</th>
				<th>size</th>
				<th>stock quantity</th>
				<th>operation</th>
			</tr>
			<tr th:each = "i : ${products}">			
				<td th:text = "${i.productId}"></td>
				<td th:text = "${i.categoryName}"></td>
				<td th:text = "${i.productName}"></td>
				<td th:text = "${i.colorName}"></td>
				<td th:text = "${i.sizeName}"></td>
				<td>   
					<form method="post" th:action="@{/modfiyQuantity}">
						<input type="hidden" name="stockId" th:value="${i.stockId}">
						<input type="number" name="quantity" th:value="${i.quantity}">
						
						<input type="submit" value="modfiy">
					</form>
				</td>
				<td>
					<a th:href = "@{/addModel/{productId}/{categoryId}/{productName}/{price}/{detail}/{material}   (productId = ${i.productId}, categoryId = ${i.categoryId}, productName = ${i.productName}, price = ${i.price}, detail = ${i.detail}, material = ${i.material} )   }">모델 추가</a>
				</td>
			</tr>		
		</table>
	</div>
	
	
	
	<div th:replace = "fragments/footer"></div>

</body>
</html>