<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>

	<link rel="stylesheet" type="text/css" th:href = "@{/css/orderDetail.css}">


</head>
<body>

	<div th:replace = "fragments/header"></div>

	<h4>order management</h4>
	
	<form method="get" th:action="@{/search}"   class="search-form">
		order search by recipient name 
		<input type="text" placeholder="enter recipient name" name = "recipientName" required>
		search by shipping status 
		<select name="shippingStatus">
			<option th:text = "ALL" th:value="ALL"></option>
			<option th:each = "s : ${statuses}" th:text = "${s}" th:value = "${s}"></option>
		</select>
		
		<input type="submit" value="search">
	</form>
	
	
	<div class="parent-container">
		
		<table  class="order-detail-table">
			<tr>
				<th>image</th>
				<th>recipientName </th>
				<th>orderDate</th>
				<th>productName </th>
				<th>color</th>
				<th>size</th>			
				<th>price </th>
				<th>shippingStatus</th>
			</tr>
			<tr th:each = "i : ${orders}">
				<td> <img th:src = "@{${i.imageUrl}}">  </td>
				<td th:text = "${i.recipientName}"></td>
				<td th:text = "${i.orderDate}"></td>
				<td th:text = "${i.productName}"  ></td>
				<td th:text = "${i.colorName}"></td>
				<td th:text = "${i.sizeName}"></td>			
				<td th:text = "${i.price }"></td>
				<td>
					<form method="post" th:action="@{/updateStatus}">
						<input type="hidden" name = "orderItemId" th:value="${i.orderItemId}">
						<select name="newStatus">
							<option th:each = "s : ${statuses}" th:value = "${s}" th:text = "${s}" th:selected = "${s == i.shippingStatus}"></option>
						</select>
						
						<input type="submit" value="update">
					</form>
				</td>
			</tr>		
		</table>
		
		
	</div>

	
	
	
	<div th:replace = "fragments/footer"></div>


</body>
</html>