<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}"/>
	

</head>
<body>

	<footer>
	  <nav>
	    <ul>
	      <li><a th:href="@{/extraDetail/shipping}">SHIPPING</a></li>
	      <li><a th:href="@{/extraDetail/return}">RETURNS</a></li>
	      <li><a th:href="@{/extraDetail/refund}">REFUND POLICY</a></li>
	      <li><a th:href="@{/extraDetail/faq}">FAQ</a></li>
	      
	    </ul>
	  </nav>
	</footer>




</body>
</html>