<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Checkout Page</title>
	
	<link rel = "stylesheet" type="text/css" th:href = "@{/css/product2.css}"> 

</head>
<body>

<!-- Header Section -->
	<div th:replace="fragments/header"></div>

<!-- Checkout Page Content -->

    <h4>This is the Checkout Page</h4>
    
    
	<div class="form-container">
	
		<form th:action="@{/submitOrder}" method="post" th:object="${orderForm}" class="checkout-form">
		    <label for="recipientName">Recipient Name:</label>
		    <input type="text" id="recipientName" th:field="*{recipientName}" required><br>
		
		    <label for="postalcode">Postal Code:</label>
		    <input type="text" id="postalcode" th:field="*{postalcode}" required><br>
		
		    <label for="street">Street Address:</label>
		    <input type="text" id="street" th:field="*{street}" required><br>
		
		    <label for "apartment">Apartment:</label>
		    <input type="text" id="apartment" th:field="*{apartment}"><br>
		
		    <label for="phone">Phone Number:</label>
		    <input type="text" id="phone" th:field="*{phone}" required><br>
		
		    <label for="shippingMessage">Shipping Message:</label>
		    <textarea id="shippingMessage" name="shippingMessage" th:field="*{shippingMessage}"></textarea><br>
		
		    <!-- Payment Details Fields (e.g., credit card info) -->
		    <h2>Payment Information</h2>
		    <label for="cardNumber">Card Number:</label>
		    <input type="text" id="cardNumber" th:field="*{cardNumber}" required><br>
		
		    <label for="expDate">Expiration Date:</label>
		    <input type="text" id="expDate" th:field="*{expDate}" required><br>
		
		    <label for="securityCode">Security Code:</label>
		    <input type="text" id="securityCode" th:field="*{securityCode}" required><br>
		
		    <!-- Submit Button -->
		    <input type="submit" value="Place Order">
		</form>
	
		
		
	</div>		

		
	

	<!-- Footer Section -->
	<div th:replace="fragments/footer"></div>

</body>
</html>
