<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>

	<link rel="stylesheet" type="text/css" th:href = "@{/css/failOrder.css}"> 
	
</head>
<body>
	
	<div th:replace="fragments/header"></div>


	<div class="parent-container">

		<div class="error-container">
	        <h1>결제 오류</h1>
	        <p>죄송합니다. 결제가 실패했습니다. 다음 정보를 확인해주세요:</p>
	        <ul>
	            <li>카드 정보</li>
	            <li>만료일</li>
	            <li>보안 코드</li>
	        </ul>
	        <p>문제를 해결할 수 없는 경우, 고객 지원에 문의하세요.</p>
	        <div class="contact-info">
	            <p>고객 지원 연락처: <a href="tel:+1-800-123-4567">1-800-123-4567</a></p>
	        </div>
	        
	    </div>
		
		
	</div>
	

	

	
	<div th:replace="fragments/footer"></div>

	
</body>
</html>